<h5 class="card-title">{{planetInfo.name}}</h5>
<h6 class="card-subtitle mb-2 text-muted">Diameter: {{planetInfo.diameter}} km </h6>
<h6 class="card-subtitle mb-2 text-muted">Climate: {{planetInfo.climate}}</h6>
<h6 class="card-subtitle mb-2 text-muted">Films:
  <app-film *ngFor="let film of planetInfo.films" [film]="this.filmsCatalog.get(film)"></app-film>
</h6>
<h6 class="card-subtitle mb-2 text-muted">Gravity: {{planetInfo.gravity}}</h6>
<h6 class="card-subtitle mb-2 text-muted">Orbital preiod: {{planetInfo.orbital_period}} d</h6>
<h6 class="card-subtitle mb-2 text-muted">Population: {{planetInfo.population}}</h6>
<h6 class="card-subtitle mb-2 text-muted">Rotation period: {{planetInfo.rotation_period}} h</h6>
<h6 class="card-subtitle mb-2 text-muted">Residents: {{planetInfo.residents.length}}</h6>
<h6 class="card-subtitle mb-2 text-muted">Surface water: {{planetInfo.surface_water}} %</h6>
<h6 class="card-subtitle mb-2 text-muted">Terrain: {{planetInfo.terrain}}</h6>

<button class="btn-dark" routerLink="" >Назад</button>
<br> <br>
<h1>Residents</h1>
<div class="btn-group" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-primary" (click)="gender='all' " >All</button>
  <button type="button" class="btn btn-primary" (click)="gender='male' " >Male</button>
  <button type="button" class="btn btn-primary" (click)="gender='female' " >Female</button>
</div>
<br><br>

<div [ngSwitch]="gender" >
  <div *ngSwitchCase="'all'" class="d-flex row" >
    <app-person-card class="col-md-4 mb-4" *ngFor="let person  of persons" [personInfo]="person"> </app-person-card>
  </div>
  <div *ngSwitchCase="'male'" class="d-flex row" >
    <app-person-card class="col-md-4 mb-4" *ngFor="let person  of personsMale" [personInfo]="person"> </app-person-card>
  </div>
  <div *ngSwitchCase="'female'" class="d-flex row" >
    <app-person-card class="col-md-4 mb-4" *ngFor="let person  of personsFemale" [personInfo]="person"> </app-person-card>
  </div>

</div>
